@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
} 

@font-face {
    font-family: 'Ustroke';
    src: url("../fonts/Ustroke-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}